<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title><%= page%></title>
<body>

    <h1>output</h1>
    <% for(let items of title) { %>
        <a href="/getParams/<%= items.id %>"><%= items.title %></a> 
        <% } %>
    <% for(let img of pic) { %>
    <img src="/set<%=nr%>/<%=img%>" alt="test">
    <% } %>
            

</body>
</html>

